 <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
              <li class="list-inline-item">
              <a href="https://api.whatsapp.com/message/IUZE5VS7NSH7M1">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/angie_jim_photography/?hl=es-la">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/AngieJimPhotography">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.tiktok.com/AngieJimPhotography">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-tiktok fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted text-center">Copyright &copy; AngieJim Photography 2023</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>

</body>

</html>
