{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block content %}
{%include "header.html" %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('static/images/a9d014aec6b1d1650bddf67a6ff91271.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Register as Admin</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {%for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

{%include "footer.html" %}
{% endblock %}