 {% include "header.html" %}
{% block content %}
<header class=" text-center header-margin">
     <header class="masthead" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ url_for('static', filename='images/plain_head_image.png') }}');">
</header>
<h2>Status Report</h2>
    <hr class="my-4">
<h3>{{message}}</h3>

{% if "You got " in message  %}
<p>Wanna enter the Hall of Fame: 👉 <a href='{{url_for(link)}}'>Register</a></p>
{% else %}
<p>Wanna give it one more try👉 <a href='{{url_for(link)}}'>Go Home</a></p>
{%endif %}
{% endblock%}
 <hr class="my-4">
{% include 'footer.html' %}