 <!-- Footer -->
    <footer class="bg-light py-3">
         <hr class="my-4">
    <div class="container">
      <div class="row footer_icons">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
              <li class="list-inline-item">
              <a href="https://api.whatsapp.com/send/?phone=%2B13102413767&text=%22About%20the%20guessing%20game%22&type=phone_number&app_absent=0">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://tinyurl.com/addmcx3u">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href=" http://t.me/wangzhi01">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.twitter.com/hiegoloig">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-1x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted text-center">©<script>document.write(new Date().getFullYear());</script> With ♥️ from your_gardener. @Code🌲Garden Inc.</p>
        </div>
      </div>
    </div>
  </footer>
