<!DOCTYPE html>
<html>
    <!--header-->
    {%include "header.html" %}
    <title>Guess The Song</title>

    <body class="text-center ">
      <h6>Score: <span id="score">{{ score }}</span></h6>
      <div class="justify-content-center">
      <header class="jumbotron text-center header-margin">
<!--      <h1 class="display-4">Guess the Song</h1>-->
          <!--        picture goes here-->
      <img src="static/images/head_image.png" alt="Guess the Song" class = "head-image">
      <hr class="my-4">
      <h5 id="lyric">Lyric</h5>
       {% for lyric in lyrics %}
      <p class="lyric_font" >
          {{lyric}}</p>
       {% endfor %}
    </header>
      </div>

    <!-- Main Content -->

      <div class="row text-center justify-content-center">
      {% for answer in answers %}
        <div class="col-12 text-center">
          <button id="button-{{loop.index}}" class="btn btn-outline-primary btn-block  ans-space" onclick="checkAnswer(this)">
            {{answer.upper()}}
          </button>
        </div>
      {% endfor %}
    </div>

        <!-- Audio Stream -->
        <div id="audio-div" style="display: none;">
          <button id="play-audio">Play Audio</button>
          <audio id="audio-player" controls>
            <source id="audio-source" type="audio/mp4">
            Your browser does not support the audio element.
          </audio>
        </div>

       <script>
          // Get the button and audio elements
          const buttons = document.querySelectorAll('button');
          const audioPlayer = document.getElementById('audio-player');
          const audioSource = document.getElementById('audio-source');
          const scoreText = document.getElementById('score');
          const lyricText = document.getElementById('lyric');


          // Set the audio source dynamically
          audioSource.src = "{{ audio_url }}";

          let isAnswered = false;

          // Add event listener to play audio when the button is clicked
          buttons.forEach((button) => {
            button.addEventListener('click', () => {

<!--            lyricText.innerHTML = 'song by tireskli';-->

              if (!isAnswered) {
                isAnswered = true;
                const selectedAnswer = button.textContent.trim().toUpperCase();
                fetch('/check_answer', {
                  method: 'POST',
                  body: JSON.stringify({selected_answer: selectedAnswer}),
                  headers: {'Content-Type': 'application/json'}
                })
                .then(response => response.json())
                .then(data => {
                  if (data.is_correct) {
                    button.classList.remove('btn-outline-primary');
                    button.classList.add('btn-success');
<!--                    buttons.forEach((btn) => {-->
<!--                      if (btn !== button) {-->
<!--                        btn.classList.remove('btn-outline-primary');-->
<!--                        btn.classList.add('btn-danger');-->
<!--                      }-->
<!--                    });-->
                  } else {
                    button.classList.remove('btn-outline-primary');
                    button.classList.add('btn-danger');
                  }
                  scoreText.textContent = `${data.score}`;
                  lyricText.textContent = `${data.current_song}`;
                  audioPlayer.play();
                });
              }
            });
          });

          // Add event listener to redirect when audio has finished playing
          audioPlayer.addEventListener('ended', () => {
            window.location.href = "{{ url_for('next_question') }}";
          });
        </script>




    <!-- Footer -->
    {% include "footer.html" %}
    </body>

<script>
          // Get the button and audio elements
          const buttons = document.querySelectorAll('button');
          const audioPlayer = document.getElementById('audio-player');
          const audioSource = document.getElementById('audio-source');
          const scoreText = document.getElementById('score');

          // Set the audio source dynamically
          audioSource.src = "{{ audio_url }}";

          let isAnswered = false;

          // Add event listener to play audio when the button is clicked
          buttons.forEach((button) => {
            button.addEventListener('click', () => {
              if (!isAnswered) {
                isAnswered = true;
                const selectedAnswer = button.textContent.trim().toUpperCase();
                fetch('/check_answer', {
                  method: 'POST',
                  body: JSON.stringify({selected_answer: selectedAnswer}),
                  headers: {'Content-Type': 'application/json'}
                })
                .then(response => response.json())
                .then(data => {
                  if (data.is_correct) {
                    button.classList.remove('btn-outline-primary');
                    button.classList.add('btn-success');
<!--                    buttons.forEach((btn) => {-->
<!--                      if (btn !== button) {-->
<!--                        btn.classList.remove('btn-outline-primary');-->
<!--                        btn.classList.add('btn-danger');-->
<!--                      }-->
<!--                    });-->
                  } else {
                    button.classList.remove('btn-outline-primary');
                    button.classList.add('btn-danger');
                  }
                  scoreText.textContent = `${data.score}`;
                  audioPlayer.play();
                });
              }
            });
          });

          // Add event listener to redirect when audio has finished playing
          audioPlayer.addEventListener('ended', () => {
            window.location.href = "{{ url_for('next_question') }}";
          });
        </script>

