<!DOCTYPE html>
<html>
<!--header-->
{%include "header.html" %}


    <body class="text-center ">
      <div class="justify-content-center">
      <header class="jumbotron text-center">
      <h1 class="display-4 game-title">Guess the Song</h1>
          <!--        picture goes here-->
      <img src="static/images/head_image.png" alt="Guess the Song" class = "head-image">

          <p class="game-title"><h4>Have <i>fun!</i> guessing the song with the lyrics shown</h4></p>
      <hr class="my-4">
      <h5 class="game-title">SELECT YOUR LEVEL</h5>
    </header>
      </div>


    <!-- Main Content -->

    <div class="container my-5 justify-content-center">

        <div class="row text-center">
            <form class="col-12" method="post">
            <div class="col-12">
                <button id="1" class="btn btn-dark btn-block btn_space" name="button_id" type="submit" value="1">
                  AMATEUR </button>
            </div>

             <div class="col-12">
                <button id="2" class="btn btn-warning btn-block btn_space" name="button_id" type="submit" value="2">
                  PROFESSIONAL </button>
            </div>
             <div class="col-12">
                <button id="3" class="btn btn-danger btn-block btn_space" name="button_id" type="submit" value="3">
                  LEGEND </button>
            </div>
            </form>

        </div>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>

